@tailwind base;
@tailwind components;
@tailwind utilities;

.spin :hover {
  animation: logo-rotate 2s ease-in-out;
}

@keyframes logo-rotate {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(360deg);
  }
  
}

.flip-image {
  transform: rotateY(180deg);
}

